name: class-compass-storage
services:
 postgres:
  container_name: postgres
  image: postgres:18-alpine
  restart: unless-stopped
  expose:
   - "${POSTGRES_PORT:-5432}"
  env_file:
   - ./config/env/app-postgres.env
  volumes:
   - postgres-data:/var/lib/postgresql/data
  healthcheck:
   test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
   interval: 5s
   retries: 5
  networks:
   - app-data-network

 redis:
  image: redis:7-alpine
  container_name: redis
  restart: unless-stopped
  expose:
   - "6379"
  volumes:
   - ./config/databases/redis/redis.conf:/usr/local/etc/redis/redis.conf
   - ./config/databases/redis/users.acl:/usr/local/etc/redis/users.acl
   - redis-data:/data
  command: redis-server /usr/local/etc/redis/redis.conf
  healthcheck:
   test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
   interval: 5s
   timeout: 3s
   retries: 5
  networks:
   - app-data-network

 minio:
  image: minio/minio:RELEASE.2025-09-07T16-13-09Z
  container_name: minio
  restart: unless-stopped
  expose:
   - "${MINIO_PORT:-9000}" # API Port
   - "${MINIO_CONSOLE_PORT:-9001}" # Web UI Port
  env_file:
   - ./config/env/minio.env
  volumes:
   - minio-data:/data
  command: server /data --console-address ":${MINIO_CONSOLE_PORT:-9001}"
  healthcheck:
   test:
    [
     "CMD",
     "curl",
     "-f",
     "http://localhost:${MINIO_PORT:-9000}/minio/health/live",
    ]
   interval: 30s
   timeout: 20s
   retries: 3
  networks:
   - service-network

volumes:
 postgres-data:
 redis-data:
 minio-data:

networks:
 app-data-network:
  driver: bridge
 service-network:
  driver: bridge
