name: class-compass-ory

services:
 # Ory Oathkeeper
 oathkeeper:
  image: oryd/oathkeeper:v25.4.0
  command: serve --config /config/oathkeeper.yml
  restart: unless-stopped
  ports:
   - "4455:4455"
  volumes:
   - ./config/ory/oathkeeper:/config
  networks:
   - service-network

 # Ory Kratos Migration
 kratos-migrate:
  image: oryd/kratos:v1.3.0
  env_file:
   - ./config/env/kratos.env
  volumes:
   - ./config/ory/kratos:/etc/config/kratos
  command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
  restart: on-failure
  depends_on:
   ory-postgres:
    condition: service_healthy
  networks:
   - ory-data-network

 # Ory Kratos Service
 kratos:
  image: oryd/kratos:v1.3.0
  depends_on:
   kratos-migrate:
    condition: service_completed_successfully
   ory-postgres:
    condition: service_healthy
  env_file:
   - ./config/env/kratos.env
  expose:
   - "4433" # public
   - "4434" # admin
  restart: unless-stopped
  command: serve -c /etc/config/kratos/kratos.yml --watch-courier
  volumes:
   - ./config/ory/kratos:/etc/config/kratos
  networks:
   - service-network
   - ory-data-network

 # Ory Keto Migration
 keto-migrate:
  image: oryd/keto:v0.14.0
  env_file:
   - ./config/env/keto.env
  volumes:
   - ./config/ory/keto:/home/ory
  command: ["migrate", "up", "-y"]
  restart: on-failure
  depends_on:
   ory-postgres:
    condition: service_healthy
  networks:
   - ory-data-network

 # Ory Keto Service
 keto:
  image: oryd/keto:v0.14.0
  env_file:
   - ./config/env/keto.env
  volumes:
   - ./config/ory/keto:/home/ory
  expose:
   - "4466"
   - "4467"
  depends_on:
   keto-migrate:
    condition: service_completed_successfully
   ory-postgres:
    condition: service_healthy
  command: serve -c /home/ory/keto.yml
  restart: on-failure
  networks:
   - service-network
   - ory-data-network

 # Ory Postgres
 ory-postgres:
  image: postgres:16
  container_name: ory-postgres
  expose:
   - "5432"
  env_file:
   - ./config/env/ory-postgres.env
  volumes:
   - ./config/ory/multiple-databases.sh:/docker-entrypoint-initdb.d/multiple-databases.sh
   - postgres-ory-data:/var/lib/postgresql/data
  healthcheck:
   test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
   interval: 5s
   retries: 5
  networks:
   - ory-data-network

volumes:
 postgres-ory-data:

networks:
 ory-data-network:
  driver: bridge
 service-network:
  driver: bridge
