name: class-compass

include:
 - ./docker-compose.ory.yml
 - ./docker-compose.dbs.yml

services:
 # Automated Update Agent
 watchtower:
  image: containrrr/watchtower
  container_name: watchtower
  restart: unless-stopped
  volumes:
   - /var/run/docker.sock:/var/run/docker.sock
   - ${HOME}/.docker/config.json:/config.json
  environment:
   # Check every 10 seconds
   - WATCHTOWER_POLL_INTERVAL=10
   # Only update containers that have the "enable" label set to true
   - WATCHTOWER_LABEL_ENABLE=true
   # Delete old images to save disk space
   - WATCHTOWER_CLEANUP=true

 server:
  container_name: class-compass-server
  image: ghcr.io/shestakov-dev/class-compass-server:latest
  env_file:
   - ./config/env/server.env
  ports:
   - "8393:8393"
  restart: unless-stopped
  depends_on:
   postgres:
    condition: service_healthy
   redis:
    condition: service_healthy
  networks:
   - service-network
   - data-network
  labels:
   - "com.centurylinklabs.watchtower.enable=true"

 frontend:
  container_name: class-compass-frontend
  image: ghcr.io/shestakov-dev/class-compass-frontend:latest
  ports:
   - "5173:5173"
  restart: unless-stopped
  labels:
   - "com.centurylinklabs.watchtower.enable=true"
  networks:
   - service-network

networks:
 service-network:
  driver: bridge
 data-network:
  driver: bridge
