DEV=false

DSN='YOUR_ORY_DATABASE_DSN_FOR_KRATOS'

SERVE_PUBLIC_BASE_URL=https://kratos.classcompass.shestakov.app/
SERVE_ADMIN_BASE_URL=https://kratos-admin.classcompass.shestakov.app/

SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_ID='YOUR_GOOGLE_OAUTH_CLIENT_ID'
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_SECRET='YOUR_GOOGLE_OAUTH_CLIENT_SECRET'

COURIER_SMTP_CONNECTION_URI='YOUR_SMTP_CONNECTION_URI'
COURIER_SMTP_FROM_ADDRESS='classcompass@shestakov.app'
COURIER_SMTP_FROM_NAME='Class Compass'

SECRETS_DEFAULT='YOUR_SECRET_DEFAULT'
SECRETS_CIPHER='YOUR_SECRET_CIPHER'
SECRETS_COOKIE='YOUR_SECRET_COOKIE'