POSTGRES_USER='YOUR_ORY_POSTGRES_USER'
POSTGRES_PASSWORD='YOUR_ORY_POSTGRES_PASSWORD'
POSTGRES_MULTIPLE_DATABASES=kratos,keto # <- Databases to be created (the ones used in the kratos and keto containers)