REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME='YOUR_REDIS_USERNAME_FROM_ACL'
REDIS_PASSWORD='YOUR_REDIS_PASSWORD_FROM_ACL'


PLATFORM_OBJECT_ID="ClassCompass"

PLATFORM_ADMIN_EMAIL='YOUR_PLATFORM_ADMIN_EMAIL'
PLATFORM_ADMIN_FIRST_NAME='Platform'
PLATFORM_ADMIN_LAST_NAME='Admin'

PORT=8393

DATABASE_URL='YOUR_APPLICATION_DATABASE_CONNECTION_URL'

# SMTP (Email) server configuration
SMTP_CONNECTION_STRING='YOUR_SMTP_CONNECTION_STRING'
SMTP_FROM_EMAIL='classcompass@shestakov.app'
SMTP_FROM_NAME='Class Compass'

# Application URLs and routes
APP_PUBLIC_URL=https://api.classcompass.shestakov.app
APP_DEFAULT_REDIRECT_URL=https://classcompass.shestakov.app

# Kratos (IdP) URLs
KRATOS_PUBLIC_URL=https://kratos.classcompass.shestakov.app
KRATOS_ADMIN_URL=https://kratos-admin.classcompass.shestakov.app

# Keto (ReBAC) URLs
KETO_READ_URL=https://keto-read.classcompass.shestakov.app
KETO_WRITE_URL=https://keto-write.classcompass.shestakov.app

# Oathkeeper (API Gateway) JWKS URL
OATHKEEPER_JWKS_URI=https://oathkeeper.classcompass.shestakov.app/.well-known/jwks.json